:root {
  --logo-color-1: #210049; 
  --logo-color-2: #E53935; 
  --logo-color-3: #8E24AA; 
}

input{
	width: 150px;
	height: 30px;
	border-radius: 10px;
	margin: 10px;
	padding-left: 10px;
}

input:focus {
	outline: none;
}

button{
	width: 150px;
	height: 45px;
	border-radius: 10px;
	margin: 10px;
	background-color: var(--logo-color-3);
	border: none;
	color: white;
	cursor: pointer;
	-webkit-transition: background-color 1s;
  	transition: background-color 1s;
}

button:focus {
	outline: none;
}

button:hover {
	background-color: #7B0096;
}

.center{
	text-align: center;
}

.clickeable{
	cursor: pointer;
}

